@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Comfortaa|PT+Mono&display=swap');
@import 'https://unpkg.com/open-props';

/* optional imports that use the props */
@import 'https://unpkg.com/open-props/normalize.min.css';
@import 'https://unpkg.com/open-props/buttons.min.css';

.tabs label,
.text-center {
  text-align: center;
}

/* VARS */

:root {
  /* COLORS */
  --scully-green: #3aa860;
  --scully-brightgreen: #6cce7a;
  --scully-night: #232d2a;
  --scully-darkgray: #4c615b;
  --scully-lightgray: #d3d3d3;
  --scully-offwhite: #fafbfc;
  --scully-white: #ffffff;
  --scully-black: #000000;
  --scully-green-wash: rgba(58, 168, 96, 0.05);
}

playground-host {
  display: block;
  padding: 50px;
  background-image: linear-gradient(
    45deg,
    #fcfcfc 16.67%,
    #858585 16.67%,
    #858585 33.33%,
    #fff 33.33%,
    #fff 50%,
    #fcfcfc 50%,
    #fcfcfc 66.67%,
    #858585 66.67%,
    #858585 83.33%,
    #fff 83.33%,
    #fff 100%
  );
  background-size: 8.49px 8.49px;
}

.invert {
  filter: invert(1);
}
