:host {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: var(--size-2);
  padding: var(--size-2);

  a {
    display: block;
    background-color: var(--surface-2);
    padding: var(--size-1) var(--size-2);
    border-radius: var(--size-1);
    user-select: none;
  }
  .picked {
    background-color: var(--surface-4);
  }

  a.dragging {
    background-color: var(--surface-1);
    border: 1px solid var(--surface-4);
  }
}
