<h3>MTTQ stuff</h3>

<table>
  @for (device of $state(); track device.ieee_address) {
    <tr>
      <td>
        <img
          [src]="`http://localhost:8080/${device.definition?.icon}`"
          alt="icon"
        />
      </td>
      <td>{{ device.friendly_name }}<br>{{device.model_id}}</td>
      <td>
        <!-- <pre><code>{{ device.definition?.exposes | json }} </code></pre> -->
         <button (click)="inspect(device)">inspect</button>
         <button (click)="setState(device.friendly_name,'on')">on</button>
         <button (click)="setState(device.friendly_name,'off')">off</button>
      </td>
      <td>
        <pre><code>{{ device.state()|json }}</code></pre>
      </td>
    </tr>
  }
</table>

